body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
form {
  background-color: white;
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}
input {
  border-radius: 0px;
}
.account-info label {
  color: #333;
  display: block;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}
.account-info input {
  background: white;
  border: 2px solid #c6c7cc;
  padding: 10px;
  margin-bottom: 25px;
  width: 100%;
}
.action {
  padding: 20px 0px 0px 0px;
}
.action p {
  color: #333;
  font-weight: bold;
  font-size: 20px;
}
.action textarea {
  background: white;
  border: 2px solid #c6c7cc;
  padding: 10px;
  margin-bottom: 25px;
  width: 100%;
}
#button {
  background-color: #333;
  color: white;
  border: none;
  padding: 7px 15px;
  margin-top: 20px;
  border-radius: 1px;
}
footer {
  background-color: #333;
  text-align: center;
  padding: 1em;
  color: white;
}
footer a {
  color: burlywood;
}
